//Lavender theme used for buttons etc
%colourtheme-1 {
  background-color: $colourstyle-1;
  border-color: $colourstyle-1-border-highlight $colourstyle-1-border-highlight $colourstyle-1-border-shadow $colourstyle-1-border-shadow;
}

%colourtheme-1-hover {  
  @extend %colourtheme-1;
  background-color: $colourstyle-1-emphasise;
}

%colourtheme-1-active {
  @extend %colourtheme-1;
  border-color: $colourstyle-1-border-shadow $colourstyle-1-border-shadow $colourstyle-1-border-highlight $colourstyle-1-border-highlight;
  border-width: 2px 3px 1px 1px;
  box-shadow: 0 0 0;
}

//Grey MSDOS theme used for displaybox
%colourtheme-2 {
  color: $colourstyle-2-text;
  background-color: $colourstyle-2;
  border-color: $colourstyle-1-border-highlight $colourstyle-2-border-highlight $colourstyle-2-border-shadow $colourstyle-2-border-shadow;
}
