@import "colours";

//Lavender theme used for buttons etc
%colourtheme-1 {
  background-color: url($colourstyle-1);
  border-color: url($colourstyle-1-border-highlight) url($colourstyle-1-border-highlight) url($colourstyle-1-border-shadow) url($colourstyle-1-border-shadow);
}

%colourtheme-1-active {  
  @extend %colourtheme-1;
  
  &:hover {
    background-color: url($colourstyle-1-emphasise);
  }

  &:active {
    border-color: url($colourstyle-1-border-shadow) url($colourstyle-1-border-shadow) url($colourstyle-1-border-highlight) url($colourstyle-1-border-highlight);
  }
}

//Grey MSDOS theme used for displaybox
%colourtheme-2 {
  background-color: url($colourstyle-2);
  border-color: url($colourstyle-1-border-highlight) url($colourstyle-2-border-highlight) url($colourstyle-2-border-shadow) url($colourstyle-2-border-shadow);
}
