$kundalini-bliss: #d2ccda;
$dimgrey: #696969;
$black: #ffffff;
$wikipedia-link-blue: #3366cc;
$ghostwhite: #f8f8ff;

/* Colour Style 1 - Used for buttons */
$darling-lavender-field: #9d9dde;
$soft-purple-skylight: #b5b5e5;
$lavender: #e6e6fa;
$darkblueslate: #483d8b;

$colourstyle-1: url($darling-lavender-field);
$colourstyle-1-emphasise: url($soft-purple-skylight);
$colourstyle-1-border-highlight: url($lavender);
$colourstyle-1-border-shadow: url($darkblueslate);


$colourstyle-2: url($kundalini-bliss);

/* Colour Style 2 - Used for displaybox */
$lightgrey: #d3d3d3;
/*$: #;*/
$snow: #fffafa;
$grey: #808080;

$colourstyle-2: url($lightgrey);
/*$colourstyle-2-emphasise: url($);*/
$colourstyle-2-border-highlight: url($snow);
$colourstyle-2-border-shadow: url($grey);
