main
{
  background-color: url($ghostwhite);
  color: url($dimgrey);
  height: 67vh;
  display: block;
  padding: 20px, 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
  border: 3px solid green;
  //padding: 20px, 0px;

  span {
    @extend %displaybox;
    height: 60vh;
  }
}
  
/*.maincontainer
{
height: auto;
padding: 20px, 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color: blue;
border: 3px solid green;

}*/
  
//Sidebar Rules

.sidebar
  {
    max-width: 200px;
    background-color: blue;
  //flex-basis: 250px
  //width: 13vw;
  }

.content
  {
  min-width: 460px;
  background-color: red;
  //min-width: 400px;
  flex: 1 1;
  //width: 48vw;
  }
