//%colourtheme-1 {
  //background-color: $colourstyle-1;
  //border-color: $colourstyle-1-border-highlight $colourstyle-1-border-highlight $colourstyle-1-border-shadow $colourstyle-1-border-shadow;

.button {
  @extend %centrecontent-xy;
  
  a {
    @extend %text-black;
    font-size: 2vh;
    font-weight: bold;
  }

  .current {
    @extend %colourtheme-1-active
  }
}

%buttonstyle-1 
{
  border-width: 1px 1px 2px 3px;
  border-radius: 2vh;
  cursor: pointer;
  @extend %shadow-standard;

  &:hover {
    @extend %colourtheme-1-hover
  }

  &:active {
    @extend %colourtheme-1-active
  }
}
  
