.button {
  @extend %centrecontent-xy;
  
  a {
    @extend %text-black;
    font-size: 2vh;
    font-weight: bold;
  }
}

%buttonstyle-1 
{
  border-width: 1px 1px 2px 3px;
  border-radius: 2vh;
  cursor: pointer;
  @extend %shadow-standard;

  &:active
  {
    border-width: 2px 3px 1px 1px;
    box-shadow: 0 0 0;
  }
}
