.dispbox 
  {
  background-color: lightgrey;
  border-left: 5px solid grey;
  border-bottom: 3px solid grey;
  border-right: 1px solid snow;
  border-top: 1px solid snow;
  box-shadow: -4px 4px 3px;
  }   
