<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
    
  <body>

    <header>
      {% include header.html %}
    </header>  

    <main>
      <!--Sidebar-->
      <span class="sidebar">
        <!--Navbar-->
        <h3>My Pages</h3>
        {% include navigation.html %}
      </span>
        
      <!--Main Content Area-->
      <span class="content">
        <h2>Hiya, welcome to my page!</h2>
        {{ content }}            
      </span>
    </main>

    <footer>
      {% include footer.html %}
    </footer>
  </body>

  
</html>
